<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>
<body>
    <h1> Clique na pessoa "certa"</h1>
    <a href="joao"> <h1>João</h1> </a> 
    <a href=""> <h1>Lucas</h1> </a> 
    <a href=""> <h1>Pedro</h1> </a> 
    <a href=""> <h1>Maria</h1> </a> 
    <a href=""> <h1>Yoda</h1> </a> 
    <a href="gutem"> <h1>Gutember</h1> </a> 
    <a href=""> <h1>Lola</h1> </a> 
    <a href=""> <h1>Eduardo</h1> </a> 
</body>
</html>